<configuration>  
  <system.webServer>
    <handlers>
            <remove name="CGI-exe" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38\python.exe|C:\Python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="my_app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Flask_IIS" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\Flask_IIS\app.log" />
  </appSettings>
</configuration>  